<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>
<body>
<div class="container">
    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h2>Novo usuario</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/users/save">
                <input class="form-control mt-4" type="text" name="email" placeholder="email@exemplo.com">
                <input class="form-control mt-4" type="password" name="password" placeholder="******">

                <button type="submit" class="btn btn-success btn-block mt-4">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
</body>

<%- include ('../../partials/footer.ejs')%>
<script src="/tinymce/tinymce.min.js"></script>
